<footer class="footer pt-4 pb-4 ">
    <div class="container  ">
        <div class="row ">
            <div class="col-lg-8">
               <div class="content">
                <form class="position-relative email mt-5">
                    <input class="w-100 rounded-5 p-3" type="email" placeholder="Enter your email to subscribe..." id="email" name="email">
                    <button class="rounded-5 position-absolute emailbutton ">subscribe</button>
                </form>
                <p class="fs-6 mt-5 ms-3">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
               </div>
            </div>
           
        </div>
    </div>
  </footer>