
.navbar{
    background-color: #1e202b!important;
   
    --bs-navbar-brand-color: rgb(255, 255, 255);
    --bs-navbar-brand-hover-color: rgb(255, 255, 255);
}


nav .navbar-brand p{
    font-size: 10px;
}
.navbar ul{
    --bs-navbar-color: rgb(255, 255, 255);
    --bs-navbar-active-color:  rgb(255, 255, 255);
    --bs-navbar-hover-color:  rgb(255, 255, 255)
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-nav .nav-item .active{
    border: 2px solid #365486;
    color: #365486; 
}
.navbar-nav .nav-item{
    margin-right: 20px;
}
.navbar-nav .nav-item a {
    color: white;
    font-weight: 400;
    padding: 5px 25px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}
.navbar-nav .nav-item  a:hover{
    border: 2px solid #365486;
    color: #365486; 
}
.image{
    background-image: url(../../assets/images/banner.png) !important;
}